html, body {
  margin: 0;
  padding: 0;
}

h1 {
    text-align: center;
}

.center-under-genres {
    text-align: center;
    margin: 30px auto;
    width: max-content;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.book img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

    .book {
        display: inline-block;
        margin: 10px;
        text-align: center;
        font-size: 0.9rem;
}

    .book p {
        margin-top: 5px;
}

.book img:hover {
    transform: translateY(-15px) scale(1.08);
    transition: transform 0.2s ease, boxshadow 0.2s ease;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4),
                0 0 25px rgba(255, 215, 0, 0.6);
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}