.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;

}

.search-bar input {
  padding: 8px;
  width: 220px;
  font-size: 14px;
}

.search-bar input:focus {
    border-color: #ffd700;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}
.search-bar button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f5f4f4;
    border: none;
    font-size: 16px;
    cursor: pointer;   
}